
	body{text-align:center} 
	.basicInfo{text-align:left;}
	a{text-decoration:none;font-size:12px;}
	.txt{width:320px;border:1px solid #000;margin:0 auto;text-align:left;}
	.forgetpwdclass{font-size:12px;}
	.tips{font-size:9px;}
